#icon-logo{
    width: 50px;
    height: 50px;
    flex: none;
    flex-grow: 0;
    color:cadetblue;
    margin-left: 0px;
}

#icon-Search{
    width: 25px;
    height: 25px;
    flex: none;
    flex-grow: 0;
    color:cadetblue;
    margin-left: 0px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}