.grid-container {
    display: grid;
    margin-top: 80px;
    margin-left: 2%;
    margin-right: 8px;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr)); /* Ajusta el tamaño de las columnas según tus necesidades */
    grid-template-rows: 1fr;
    grid-gap: 20px; /* Espacio de 20px entre los contenedores */
}

.item {
    background-color: #eaeaea;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}
body {
    background-color: #222f3e; /* Cambia el color a tu elección de azul oscuro */
    margin: 0;
    padding: 0;
  }
  
  /* Si tienes un contenedor principal, puedes aplicar el estilo a ese elemento en su lugar */
  .container {
    background-color: #222f3e; /* Cambia el color a tu elección de azul oscuro */
  }
  